Working_generator_flowflows.json
[{"id":"24ed3560.55d38a","type":"tab","label":"Gen_test","disabled":false,"info":""},{"id":"edcd7fd6.a872b","type":"mqtt in","z":"24ed3560.55d38a","d":true,"name":"","topic":"generator/tx/0001/#","qos":"2","datatype":"auto","broker":"4ca58914.73ba","x":170,"y":80,"wires":[["4b1f0905.332f38","5a9969f9.3bff38","1bd9b09f.0254af"]]},{"id":"4b1f0905.332f38","type":"debug","z":"24ed3560.55d38a","name":"Receveing Message from Generator","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":60,"wires":[]},{"id":"5a9969f9.3bff38","type":"file","z":"24ed3560.55d38a","d":true,"name":"","filename":"/home/anton/generator.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":490,"y":100,"wires":[["e4fe440.84c83c","3349284e.8ba318"]]},{"id":"e4fe440.84c83c","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]},{"id":"1bd9b09f.0254af","type":"influxdb out","z":"24ed3560.55d38a","d":true,"influxdb":"a2667f6a.bc502","name":"Generator TX","measurement":"generator","precision":"","retentionPolicy":"","x":460,"y":140,"wires":[]},{"id":"3349284e.8ba318","type":"ui_text","z":"24ed3560.55d38a","group":"efc3b6d5.cb5eb","order":0,"width":0,"height":0,"name":"","label":"Generator status","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":60,"wires":[]},{"id":"8951ed43.f971b","type":"mqtt in","z":"24ed3560.55d38a","d":true,"name":"","topic":"generator/rx/0001","qos":"2","datatype":"auto","broker":"4ca58914.73ba","x":160,"y":420,"wires":[["80147a74.99b028","1e12722f.91b0be","cc15d1c8.83bf7"]]},{"id":"80147a74.99b028","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":400,"wires":[]},{"id":"1e12722f.91b0be","type":"file","z":"24ed3560.55d38a","name":"","filename":"/home/anton/generator_controle.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":500,"y":440,"wires":[["36205d51.1613b2","57b5d75b.a897f8"]]},{"id":"36205d51.1613b2","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":440,"wires":[]},{"id":"cc15d1c8.83bf7","type":"influxdb out","z":"24ed3560.55d38a","d":true,"influxdb":"b80646a6.013e1","name":"Generator RX","measurement":"generator","precision":"","retentionPolicy":"","x":430,"y":500,"wires":[]},{"id":"57b5d75b.a897f8","type":"ui_text","z":"24ed3560.55d38a","group":"efc3b6d5.cb5eb","order":0,"width":0,"height":0,"name":"","label":"Generator Controle","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":380,"wires":[]},{"id":"a5c4b661.101288","type":"mqtt in","z":"24ed3560.55d38a","name":"","topic":"generator/tx/0001/#","qos":"2","datatype":"auto","broker":"4ca58914.73ba","x":130,"y":520,"wires":[["27620e99.8a8152"]]},{"id":"27620e99.8a8152","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":580,"wires":[]},{"id":"48c546e3.d99d98","type":"function","z":"24ed3560.55d38a","name":"start generator","func":"msg.topic = \"generator/tx/0001/cmnd/POWER\"\nmsg.payload = \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":680,"wires":[["897973c8.9d8fb"]]},{"id":"897973c8.9d8fb","type":"mqtt out","z":"24ed3560.55d38a","name":"","topic":"","qos":"","retain":"","broker":"cea94dd0.aa4a58","x":770,"y":760,"wires":[]},{"id":"5e217da6.6265a4","type":"inject","z":"24ed3560.55d38a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":680,"wires":[["48c546e3.d99d98"]]},{"id":"7e6a2bc6.723ef4","type":"function","z":"24ed3560.55d38a","name":"stop generator","func":"msg.topic = \"generator/tx/0001/cmnd/POWER\";\nmsg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":820,"wires":[["897973c8.9d8fb","7f143319.d9d3fc"]]},{"id":"8c6a7896.1c7818","type":"inject","z":"24ed3560.55d38a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":820,"wires":[["7e6a2bc6.723ef4"]]},{"id":"5932cf3a.234d8","type":"inject","z":"24ed3560.55d38a","name":"","topic":"generator/tx/0001/cmnd/POWER","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":780,"wires":[["897973c8.9d8fb","7f143319.d9d3fc"]]},{"id":"a0dd815.dd8ef8","type":"inject","z":"24ed3560.55d38a","name":"","topic":"generator/tx/0001/cmnd/POWER","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":720,"wires":[["897973c8.9d8fb"]]},{"id":"7f143319.d9d3fc","type":"debug","z":"24ed3560.55d38a","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":880,"wires":[]},{"id":"7c4c4113.8950a","type":"function","z":"24ed3560.55d38a","d":true,"name":"send message","func":"if (msg.topic == \"generator/tx/0001/RESULT\"){\n    msg.topic = \"generator/tx/0001/PHONE\";\n    if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"ON\\\"}}\"){\n        msg.payload = 0;\n    }\n    else if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"OFF\\\"}}\"){\n        msg.payload = 1;\n    }\n}\nreturn msg; ","outputs":1,"noerr":0,"x":480,"y":940,"wires":[["2949ec4a.fb8ab4","3acb4ed5.8f2e32"]]},{"id":"2949ec4a.fb8ab4","type":"mqtt out","z":"24ed3560.55d38a","d":true,"name":"","topic":"","qos":"","retain":"","broker":"cea94dd0.aa4a58","x":710,"y":940,"wires":[]},{"id":"22894c0a.9c23e4","type":"mqtt in","z":"24ed3560.55d38a","name":"","topic":"generator/tx/0001/RESULT","qos":"2","datatype":"auto","broker":"4ca58914.73ba","x":210,"y":940,"wires":[["7c4c4113.8950a","c1a5b2ea.cabfb","d7b62622.c98958","c4985bf9.e8a108"]]},{"id":"3acb4ed5.8f2e32","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":980,"wires":[]},{"id":"c1a5b2ea.cabfb","type":"debug","z":"24ed3560.55d38a","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":980,"wires":[]},{"id":"d7b62622.c98958","type":"function","z":"24ed3560.55d38a","d":true,"name":"telegram","func":"if (msg.topic == \"generator/tx/0001/RESULT\"){\n    msg.topic = \"generator/tx/0001/PHONE\";\n    if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"ON\\\"}}\")\n    {\n        msg.payload = {};\n        msg.payload.content = \"Generator Power Off\";\n    }\n    else if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"OFF\\\"}}\")\n    {\n        msg.payload = {};\n        msg.payload.content = \"Generator Power On\";\n    }\n}\n\nmsg.payload.chatId = 528899090;\nmsg.payload.type = \"message\";\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1020,"wires":[["1128f9bd.041a36","d876a33c.a03df"]]},{"id":"7b158fa5.3b0958","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":1040,"wires":[]},{"id":"e18efae7.3e6ea8","type":"function","z":"24ed3560.55d38a","name":"message","func":"var Id = msg.payload.chatId;\n\nmsg.payload = {}\nmsg.payload.chatId = Id;\nmsg.payload.type = \"message\";\nmsg.payload.content = \"Hello from Gigatech\\n\" + \"Send /register to receive your chatId.\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1100,"wires":[["1128f9bd.041a36"]]},{"id":"1128f9bd.041a36","type":"telegram sender","z":"24ed3560.55d38a","name":"Send","bot":"94a61826.a3aff","x":910,"y":1080,"wires":[[]]},{"id":"fa260820.0ce438","type":"telegram command","z":"24ed3560.55d38a","name":"Receive","command":"hello","bot":"94a61826.a3aff","strict":false,"hasresponse":true,"x":190,"y":1120,"wires":[["7b158fa5.3b0958","e18efae7.3e6ea8"],[]]},{"id":"f6febad.fafc448","type":"telegram command","z":"24ed3560.55d38a","name":"Generator_start","command":"/genstart","bot":"94a61826.a3aff","strict":false,"hasresponse":true,"x":200,"y":1340,"wires":[["54543e7c.3eb3a","e8fc21b3.62c39","6f2eb9b7.5a2118"],[]]},{"id":"44f0e3fa.09f3fc","type":"telegram command","z":"24ed3560.55d38a","name":"Generator_stop","command":"/genstop","bot":"94a61826.a3aff","strict":false,"hasresponse":true,"x":220,"y":1480,"wires":[["a6cbad5b.e064d","d3a98f47.f0e2c","ad365ee7.efc4"],[]]},{"id":"54543e7c.3eb3a","type":"function","z":"24ed3560.55d38a","name":"start generator","func":"//msg.topic = \"generator/tx/0001/cmnd/POWER\"\nvar generatorID = global.get(\"generatorID\");\n//var generatorID = \"0001\";\nvar topic  = \"generator/tx/\" + generatorID + \"/cmnd/POWER\"\nmsg.topic = topic\nmsg.payload = \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1340,"wires":[["98b7d0c4.8ad8"]]},{"id":"a6cbad5b.e064d","type":"function","z":"24ed3560.55d38a","name":"stop generator","func":"msg.topic = \"generator/tx/0001/cmnd/POWER\";\nmsg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1460,"wires":[["98b7d0c4.8ad8"]]},{"id":"98b7d0c4.8ad8","type":"mqtt out","z":"24ed3560.55d38a","name":"","topic":"","qos":"","retain":"","broker":"cea94dd0.aa4a58","x":770,"y":1340,"wires":[]},{"id":"4fc3d784.83ce58","type":"function","z":"24ed3560.55d38a","name":"start / stop generator","func":"msg.topic = \"generator/tx/0001/cmnd/POWER\";\nvar str = msg.payload;\nvar res = str.trim();\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["34de0f3d.37cea","37ab58d1.a6ed"]]},{"id":"f84a2b5f.c5d808","type":"http in","z":"24ed3560.55d38a","name":"","url":"/generator","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["e4b09aba.ac934","285c3f17.f00c68","990c61af.db9978"]]},{"id":"e4b09aba.ac934","type":"template","z":"24ed3560.55d38a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<h1>Giga Generator Controle System</h1><br>\n<img src=\"https://www.giga.co.za/ocart/image/data/Giga_Technology/Giga_Technology%20logo_v2.jpg\"><br>\n<input type=\"button\" onclick=\"location.href='http://iot.giga.co.za:1880/generator?gen=ON';\" value=\"Start Generator\" /><br>\n<input type=\"button\" onclick=\"location.href='http://iot.giga.co.za:1880/generator?gen=OFF';\" value=\"stop Generator\" /><br>\n<input type=\"button\" onclick=\"location.href='http://iot.giga.co.za:1880/generator?gen=status';\" value=\"Get Generator Status\" />\nGenerator input Status {{req.query.gen}}    \n</body>\n</html>","x":590,"y":180,"wires":[["1db90f7b.9a8289"]]},{"id":"1db90f7b.9a8289","type":"http response","z":"24ed3560.55d38a","name":"","statusCode":"","headers":{},"x":730,"y":180,"wires":[]},{"id":"990c61af.db9978","type":"template","z":"24ed3560.55d38a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.query.gen}}","output":"str","x":470,"y":240,"wires":[["91dcedf0.4e3fa8","4fc3d784.83ce58"]]},{"id":"37ab58d1.a6ed","type":"debug","z":"24ed3560.55d38a","name":"Sending mqtt to generator","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":260,"wires":[]},{"id":"34de0f3d.37cea","type":"mqtt out","z":"24ed3560.55d38a","name":"","topic":"generator/tx/0001/cmnd/POWER","qos":"","retain":"","broker":"cea94dd0.aa4a58","x":960,"y":300,"wires":[]},{"id":"285c3f17.f00c68","type":"node-red-contrib-httpauth","z":"24ed3560.55d38a","name":"Generator Auth","file":"81b4baca.95923","cred":"606d16a0.2f9ad8","authType":"Basic","realm":"","username":"","password":"","hashed":false,"x":280,"y":260,"wires":[["990c61af.db9978"]]},{"id":"91dcedf0.4e3fa8","type":"debug","z":"24ed3560.55d38a","name":"web send","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":220,"wires":[]},{"id":"bc887121.7926b8","type":"function","z":"24ed3560.55d38a","name":"start generator","func":"msg.topic = \"generator/tx/0001/cmnd/POWER\"\nmsg.payload = \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["34de0f3d.37cea","fff47d98.78ab48"]]},{"id":"45f54e96.01ef28","type":"inject","z":"24ed3560.55d38a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":300,"wires":[["bc887121.7926b8"]]},{"id":"78774419.7b25cc","type":"function","z":"24ed3560.55d38a","name":"stop generator","func":"msg.topic = \"generator/tx/0001/cmnd/POWER\";\nmsg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["34de0f3d.37cea","fff47d98.78ab48"]]},{"id":"7b50b76e.b3ebf8","type":"inject","z":"24ed3560.55d38a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":340,"wires":[["78774419.7b25cc"]]},{"id":"fff47d98.78ab48","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":380,"wires":[]},{"id":"e8fc21b3.62c39","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":1400,"wires":[]},{"id":"d3a98f47.f0e2c","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":1540,"wires":[]},{"id":"6f2eb9b7.5a2118","type":"function","z":"24ed3560.55d38a","name":"start answer","func":"var Id = msg.payload.chatId;\n\nmsg.payload = {};\nmsg.payload.content = \"Generator wil be started.\"\nmsg.payload.chatId = Id;\nmsg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1440,"wires":[["1128f9bd.041a36"]]},{"id":"ad365ee7.efc4","type":"function","z":"24ed3560.55d38a","name":"stop answer","func":"var Id = msg.payload.chatId;\n\nmsg.payload = {};\nmsg.payload.content = \"Generator wil be stopped.\"\nmsg.payload.chatId = Id;\nmsg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1500,"wires":[["1128f9bd.041a36"]]},{"id":"c4985bf9.e8a108","type":"function","z":"24ed3560.55d38a","name":"telegram","func":"if (msg.topic == \"generator/tx/0001/RESULT\"){\n    msg.topic = \"generator/tx/0001/PHONE\";\n    if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"ON\\\"}}\")\n    {\n        msg.payload = {\n        chatId: ['751272400', '528899090'],\n        type: 'message',\n        content: 'Generator Power Off'\n        };\n    }\n    else if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"OFF\\\"}}\")\n    {\n        msg.payload = {\n        chatId: ['751272400', '528899090'],\n        type: 'message',\n        content: 'Generator Power On'\n        };\n    }\n}\n//msg.payload ={ chatId: '751272400,58899090' , type: \"message\"};\n//msg.payload.chatId = 751272400, 58899090:\n//msg.payload.type = \"message\":\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1060,"wires":[["1128f9bd.041a36","d876a33c.a03df"]]},{"id":"d876a33c.a03df","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":1020,"wires":[]},{"id":"1fd5a1b6.455f1e","type":"function","z":"24ed3560.55d38a","name":"","func":"var Id = msg.payload.chatId;\nmsg.payload.content = \"Your ID is \" + Id;\nmsg.payload.type = 'message';\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1220,"wires":[["1128f9bd.041a36"]]},{"id":"bde7f4a7.354488","type":"telegram command","z":"24ed3560.55d38a","name":"Register","command":"/register","bot":"94a61826.a3aff","strict":false,"hasresponse":true,"x":180,"y":1240,"wires":[["1fd5a1b6.455f1e"],[]]},{"id":"eab8d145.9d07f","type":"function","z":"24ed3560.55d38a","d":true,"name":"message","func":"msg.payload = {}\nmsg.payload.chatId = 751272400;\nmsg.payload.type = \"message\";\nmsg.payload.content = \"Hello from Gigatech\\n\" + \"Send /register to receive your chatId.\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1140,"wires":[["1128f9bd.041a36"]]},{"id":"7aea292.6541dd8","type":"telegram command","z":"24ed3560.55d38a","d":true,"name":"Receive","command":"/foo","bot":"94a61826.a3aff","strict":false,"hasresponse":true,"x":190,"y":1180,"wires":[["eab8d145.9d07f"],[]]},{"id":"bd45b98a.aa3e3","type":"inject","z":"24ed3560.55d38a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1640,"wires":[["426c0907.abba5"]]},{"id":"426c0907.abba5","type":"function","z":"24ed3560.55d38a","name":"Store generator id and chatid","func":"var chatId = [1234];\nvar generatorId = \"0001\";\nflow.set(\"chatId\",chatId);\nflow.set(\"generatorId\",generatorId);\n//var chatId[] = flow.get(\"chatId\");\n//var generatorId = flow.get(\"generatorId\");\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1640,"wires":[["557d68c6.4c7658"]]},{"id":"557d68c6.4c7658","type":"debug","z":"24ed3560.55d38a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":1640,"wires":[]},{"id":"4ca58914.73ba","type":"mqtt-broker","z":"","name":"generator on iot.giga.co.za","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2667f6a.bc502","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"generator","name":"127.0.0.1:8086/generator/tx","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"efc3b6d5.cb5eb","type":"ui_group","z":"","name":"Generator","tab":"36d5a858.72b558","order":1,"disp":true,"width":"6","collapse":false},{"id":"b80646a6.013e1","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"generator_rx","name":"127.0.0.1:8906/generator/rx","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"cea94dd0.aa4a58","type":"mqtt-broker","z":"","name":" on iot.giga.co.za","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94a61826.a3aff","type":"telegram bot","z":"","botname":"Giga_generator","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"81b4baca.95923","type":"node-red-contrib-httpauthfile","z":"","name":"generator","authType":"Basic","realm":"generator","filePath":"generator_auth.txt","hashed":true},{"id":"606d16a0.2f9ad8","type":"node-red-contrib-httpauthcred","z":"","name":"Cridensials_generator","authType":"Basic","realm":"generator","username":"Generator_0001","password":"G3n3r@tor0001","hashed":true},{"id":"36d5a858.72b558","type":"ui_tab","z":"","name":"Generator","icon":"dashboard","disabled":false,"hidden":false}]