Node-RED_Flows/generator_arduino_controle_flows.json
[{"id":"14849841639fe722","type":"tab","label":"Arduino Generator Control","disabled":false,"info":"","env":[]},{"id":"bdb0675c3eb08cfa","type":"mqtt in","z":"14849841639fe722","d":true,"name":"","topic":"generator/tx/0002/#","qos":"2","datatype":"auto","broker":"4ca58914.73ba","nl":false,"rap":false,"inputs":0,"x":210,"y":100,"wires":[["17151cc09216944f","4624d110b1ef02a3","b99c58a122e5f006"]]},{"id":"17151cc09216944f","type":"debug","z":"14849841639fe722","name":"Receiving Message from Generator","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":80,"wires":[]},{"id":"4624d110b1ef02a3","type":"file","z":"14849841639fe722","d":true,"name":"","filename":"/home/anton/generator.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":510,"y":120,"wires":[["759678e94b9eb6d8","d36f2a2e7eb0ec2d"]]},{"id":"759678e94b9eb6d8","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"b99c58a122e5f006","type":"influxdb out","z":"14849841639fe722","d":true,"influxdb":"a2667f6a.bc502","name":"Generator TX","measurement":"generator","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":500,"y":160,"wires":[]},{"id":"d36f2a2e7eb0ec2d","type":"ui_text","z":"14849841639fe722","group":"efc3b6d5.cb5eb","order":0,"width":0,"height":0,"name":"","label":"Generator status","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":770,"y":80,"wires":[]},{"id":"28f3373e9f753caf","type":"mqtt in","z":"14849841639fe722","d":true,"name":"","topic":"generator/rx/0002","qos":"2","datatype":"auto","broker":"4ca58914.73ba","nl":false,"rap":false,"inputs":0,"x":200,"y":440,"wires":[["b38b83ee02b9c842","a2a58f4fc64f65d2","d5ab264d1d95a3d6"]]},{"id":"b38b83ee02b9c842","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":420,"wires":[]},{"id":"a2a58f4fc64f65d2","type":"file","z":"14849841639fe722","name":"","filename":"/home/anton/generator_controle.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":620,"y":460,"wires":[["e1d19924747b36c3","86b822195c3afd8f"]]},{"id":"e1d19924747b36c3","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"d5ab264d1d95a3d6","type":"influxdb out","z":"14849841639fe722","d":true,"influxdb":"b80646a6.013e1","name":"Generator RX","measurement":"generator","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":470,"y":520,"wires":[]},{"id":"86b822195c3afd8f","type":"ui_text","z":"14849841639fe722","group":"efc3b6d5.cb5eb","order":0,"width":0,"height":0,"name":"","label":"Generator Controle","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":750,"y":400,"wires":[]},{"id":"670da5dfb1ae5431","type":"mqtt in","z":"14849841639fe722","name":"","topic":"generator/tx/0002/#","qos":"2","datatype":"auto","broker":"4ca58914.73ba","nl":false,"rap":false,"inputs":0,"x":170,"y":540,"wires":[["975829b190e0c514","c37c37bb65c2018f"]]},{"id":"975829b190e0c514","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":640,"wires":[]},{"id":"1d0270291bad3899","type":"function","z":"14849841639fe722","name":"start generator","func":"msg.topic = \"generator/tx/0002/cmnd/POWER\"\nmsg.payload = \"ON\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":700,"wires":[["f5167269e5531e0b"]]},{"id":"f5167269e5531e0b","type":"mqtt out","z":"14849841639fe722","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cea94dd0.aa4a58","x":910,"y":780,"wires":[]},{"id":"fb791a84b6050c4c","type":"inject","z":"14849841639fe722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":700,"wires":[["1d0270291bad3899"]]},{"id":"25d93c57753452bb","type":"function","z":"14849841639fe722","name":"stop generator","func":"msg.topic = \"generator/tx/0002/cmnd/POWER\";\nmsg.payload = \"OFF\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":840,"wires":[["f5167269e5531e0b","81c6e6db0852cf6f"]]},{"id":"30651c425e1083d5","type":"inject","z":"14849841639fe722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":840,"wires":[["25d93c57753452bb"]]},{"id":"3280a174223a15d8","type":"inject","z":"14849841639fe722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"generator/tx/0002/cmnd/POWER","payload":"OFF","payloadType":"str","x":410,"y":800,"wires":[["f5167269e5531e0b","81c6e6db0852cf6f"]]},{"id":"45479ec622a8015e","type":"inject","z":"14849841639fe722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"generator/tx/0002/cmnd/POWER","payload":"ON","payloadType":"str","x":400,"y":740,"wires":[["f5167269e5531e0b"]]},{"id":"81c6e6db0852cf6f","type":"debug","z":"14849841639fe722","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":860,"wires":[]},{"id":"3990c346632ef4f6","type":"function","z":"14849841639fe722","d":true,"name":"send message","func":"if (msg.topic == \"generator/tx/0002/RESULT\"){\n    msg.topic = \"generator/tx/0002/PHONE\";\n    if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"ON\\\"}}\"){\n        msg.payload = 0;\n    }\n    else if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"OFF\\\"}}\"){\n        msg.payload = 1;\n    }\n}\nreturn msg; ","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":960,"wires":[["a20f3eb60e379263","ba2063bddceb5060"]]},{"id":"a20f3eb60e379263","type":"mqtt out","z":"14849841639fe722","d":true,"name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cea94dd0.aa4a58","x":750,"y":960,"wires":[]},{"id":"d586b7f082d896f7","type":"mqtt in","z":"14849841639fe722","name":"","topic":"generator/tx/0002/RESULT","qos":"2","datatype":"auto","broker":"4ca58914.73ba","nl":false,"rap":false,"inputs":0,"x":250,"y":960,"wires":[["3990c346632ef4f6","342320bd87901866","fa2994897ff3da63","7bd8b7b67baeb3ab","e93a3c1c413d62a2"]]},{"id":"ba2063bddceb5060","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":920,"wires":[]},{"id":"342320bd87901866","type":"debug","z":"14849841639fe722","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":1000,"wires":[]},{"id":"fa2994897ff3da63","type":"function","z":"14849841639fe722","d":true,"name":"telegram","func":"if (msg.topic == \"generator/tx/0002/RESULT\"){\n    msg.topic = \"generator/tx/0002/PHONE\";\n    if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"ON\\\"}}\")\n    {\n        msg.payload = {};\n        msg.payload.content = \"Generator Power Off\";\n    }\n    else if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"OFF\\\"}}\")\n    {\n        msg.payload = {};\n        msg.payload.content = \"Generator Power On\";\n    }\n}\n\nmsg.payload.chatId = 528899090;\nmsg.payload.type = \"message\";\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1080,"wires":[["abbd270c9956a738","83533f48acd96e9f"]]},{"id":"cabfb50e0f8bf257","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":1060,"wires":[]},{"id":"468c4e08cf4851da","type":"function","z":"14849841639fe722","name":"message","func":"var Id = msg.payload.chatId;\n\nmsg.payload = {}\nmsg.payload.chatId = Id;\nmsg.payload.type = \"message\";\nmsg.payload.content = \"Hello from Gigatech\\n\" + \"Send /register to receive your chatId.\"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1160,"wires":[["c87e52183120a86c"]]},{"id":"c87e52183120a86c","type":"telegram sender","z":"14849841639fe722","name":"Send","bot":"34226ff22a8d3873","haserroroutput":false,"outputs":1,"x":1010,"y":1140,"wires":[["a11e5a05f16a0667"]]},{"id":"679ab086c736f9fc","type":"telegram command","z":"14849841639fe722","name":"Receive","command":"/hello","description":"","registercommand":false,"language":"","bot":"34226ff22a8d3873","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":220,"y":1140,"wires":[["cabfb50e0f8bf257","468c4e08cf4851da"],[]]},{"id":"f2ea77070110bc1c","type":"telegram command","z":"14849841639fe722","name":"Generator_start","command":"/genstart","description":"","registercommand":false,"language":"","bot":"34226ff22a8d3873","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":240,"y":1360,"wires":[["da1b8ff8c64079fe","b68db3c4fa9928d3","5a81f0f4ad62bc01","bf5d6775942d031c"],[]]},{"id":"08bdd76bb50bc5af","type":"telegram command","z":"14849841639fe722","name":"Generator_stop","command":"/genstop","description":"","registercommand":false,"language":"","bot":"34226ff22a8d3873","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":260,"y":1500,"wires":[["751e5881c3d23c8d","d509c233b861247c","124990f2b69a42ad","c3a2c1d567d77107"],[]]},{"id":"da1b8ff8c64079fe","type":"function","z":"14849841639fe722","d":true,"name":"start generator","func":"var Id = msg.payload.chatId;\nvar chatId = new Array(1, 2, 3);\nchatId[0] = flow.get(\"chatId[0]\");\nchatId[1] = flow.get(\"chatId[1]\");\nvar generatorId = flow.get(\"generatorId\");\nmsg.payload = \"charid = \" + chatId[0] + \" genid= \" + generatorId ;\n\nif (chatId[0] == Id){\n    var topic  = \"generator/tx/\" + generatorId + \"/cmnd/POWER\";\n    msg.topic = topic;\n    msg.payload = \"ON\";\n}\nelse{\n    msg.payload.content = \"Not Registered\"\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1340,"wires":[["d57245e12aeed69c","3fa4e51155bca69b"]]},{"id":"751e5881c3d23c8d","type":"function","z":"14849841639fe722","d":true,"name":"stop generator","func":"var Id = msg.payload.chatId;\nvar chatId = new Array(1, 2, 3);\nchatId[0] = flow.get(\"chatId[0]\");\nchatId[1] = flow.get(\"chatId[1]\");\nvar generatorId = flow.get(\"generatorId\");\nmsg.payload = \"charid = \" + chatId[0] + \" genid= \" + generatorId ;\n\nif (chatId[0] == Id){\n    var topic  = \"generator/tx/\" + generatorId + \"/cmnd/POWER\";\n    msg.topic = topic;\n    msg.payload = \"OFF\";\n}\nelse{\n    msg.payload.content = \"Not Registered\"\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1480,"wires":[["d57245e12aeed69c"]]},{"id":"d57245e12aeed69c","type":"mqtt out","z":"14849841639fe722","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cea94dd0.aa4a58","x":810,"y":1360,"wires":[]},{"id":"df1575c6926d7ae8","type":"function","z":"14849841639fe722","name":"start / stop generator","func":"msg.topic = \"generator/tx/0002/cmnd/POWER\";\nvar str = msg.payload;\nvar res = str.trim();\nmsg.payload = res;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":280,"wires":[["e012368f473525bb","c5c1772d18febc51"]]},{"id":"4944237f66e4363b","type":"http in","z":"14849841639fe722","name":"","url":"/generator","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["e28e4582bdd2c9ad","ce57378fd84aa52d","95fdf2eb0f18c638"]]},{"id":"e28e4582bdd2c9ad","type":"template","z":"14849841639fe722","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<h1>Giga Generator Controle System</h1><br>\n<img src=\"https://www.giga.co.za/ocart/image/data/Giga_Technology/Giga_Technology%20logo_v2.jpg\"><br>\n<input type=\"button\" onclick=\"location.href='http://iot.giga.co.za:1880/generator?gen=ON';\" value=\"Start Generator\" /><br>\n<input type=\"button\" onclick=\"location.href='http://iot.giga.co.za:1880/generator?gen=OFF';\" value=\"stop Generator\" /><br>\n<input type=\"button\" onclick=\"location.href='http://iot.giga.co.za:1880/generator?gen=status';\" value=\"Get Generator Status\" />\nGenerator input Status {{req.query.gen}}    \n</body>\n</html>","x":630,"y":200,"wires":[["ae740f51d3aff07c"]]},{"id":"ae740f51d3aff07c","type":"http response","z":"14849841639fe722","name":"","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"95fdf2eb0f18c638","type":"template","z":"14849841639fe722","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.query.gen}}","output":"str","x":510,"y":260,"wires":[["255c37deb5780bc4","df1575c6926d7ae8"]]},{"id":"c5c1772d18febc51","type":"debug","z":"14849841639fe722","name":"Sending mqtt to generator","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"e012368f473525bb","type":"mqtt out","z":"14849841639fe722","name":"","topic":"generator/tx/0002/cmnd/POWER","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cea94dd0.aa4a58","x":1000,"y":320,"wires":[]},{"id":"ce57378fd84aa52d","type":"node-red-contrib-httpauth","z":"14849841639fe722","name":"Generator Auth","file":"81b4baca.95923","cred":"606d16a0.2f9ad8","authType":"Basic","realm":"","username":"","password":"","hashed":false,"x":320,"y":280,"wires":[["95fdf2eb0f18c638"]]},{"id":"255c37deb5780bc4","type":"debug","z":"14849841639fe722","name":"web send","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":240,"wires":[]},{"id":"f6f0218fea6ead06","type":"function","z":"14849841639fe722","name":"start generator","func":"msg.topic = \"generator/tx/0002/cmnd/POWER\"\nmsg.payload = \"ON\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["e012368f473525bb","2cab5b842e1e3500"]]},{"id":"00ec169aa5f6ebbe","type":"inject","z":"14849841639fe722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":320,"wires":[["f6f0218fea6ead06"]]},{"id":"3fe2e6311ceeb2aa","type":"function","z":"14849841639fe722","name":"stop generator","func":"msg.topic = \"generator/tx/0002/cmnd/POWER\";\nmsg.payload = \"OFF\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["e012368f473525bb","2cab5b842e1e3500"]]},{"id":"d318dcaab169d8f6","type":"inject","z":"14849841639fe722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":360,"wires":[["3fe2e6311ceeb2aa"]]},{"id":"2cab5b842e1e3500","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":400,"wires":[]},{"id":"b68db3c4fa9928d3","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1420,"wires":[]},{"id":"d509c233b861247c","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1580,"wires":[]},{"id":"5a81f0f4ad62bc01","type":"function","z":"14849841639fe722","name":"start answer","func":"var Id = msg.payload.chatId;\nif (Id = '528899090', '6705094410'){\n    \nmsg.payload = {\n            chatId: ['528899090', '6705094410'],\n            type: 'message',\n            content: 'Generator will be started.'\n        };\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1460,"wires":[["c87e52183120a86c"]]},{"id":"124990f2b69a42ad","type":"function","z":"14849841639fe722","name":"stop answer","func":"var Id = msg.payload.chatId;\nif (Id = '528899090', '6705094410') {\n\n    msg.payload = {\n        chatId: ['528899090', '6705094410'],\n        type: 'message',\n        content: 'Generator will be stopped.'\n    };\n}\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1520,"wires":[["c87e52183120a86c"]]},{"id":"7bd8b7b67baeb3ab","type":"function","z":"14849841639fe722","name":"telegram","func":"if (msg.topic == \"generator/tx/0002/RESULT\"){\n    msg.topic = \"generator/tx/0002/PHONE\";\n    if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"ON\\\"}}\")\n    {\n        msg.payload = {\n            chatId: ['751272400', '528899090', '1433332644', '1670641005','6705094410'],\n        type: 'message',\n        content: 'Generator Power Off'\n        };\n    }\n    else if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"OFF\\\"}}\")\n    {\n        msg.payload = {\n            chatId: ['751272400', '528899090', '1433332644', '1670641005','6705094410'],\n        type: 'message',\n        content: 'Generator Power On'\n        };\n    }\n    else if (msg.payload == \"{\\\"POWER\\\":\\\"OFF\\\"}\")\n    {\n        msg.payload = {\n            chatId: ['751272400', '528899090', '1433332644','6705094410'],\n        type: 'message',\n        content: 'Generator has stopped'\n        };\n    }\n    else if (msg.payload == \"{\\\"POWER\\\":\\\"ON\\\"}\")\n    {\n        msg.payload = {\n            chatId: ['751272400', '528899090', '1433332644','6705094410'],\n        type: 'message',\n        content: 'Generator has started'\n        };\n    }\n}\n\n//msg.payload ={ chatId: '751272400,58899090' , type: \"message\"};\n//msg.payload.chatId = 751272400, 58899090:\n//msg.payload.type = \"message\":\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1120,"wires":[["c87e52183120a86c","abbd270c9956a738"]]},{"id":"abbd270c9956a738","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1040,"wires":[]},{"id":"2fd8e63fa93724d1","type":"function","z":"14849841639fe722","name":"","func":"var Id = msg.payload.chatId;\nmsg.payload.content = \"Your ID is \" + Id;\nmsg.payload.type = 'message';\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1240,"wires":[["c87e52183120a86c"]]},{"id":"baf01c98681c66fd","type":"telegram command","z":"14849841639fe722","name":"Register","command":"/register","description":"","registercommand":false,"language":"","bot":"34226ff22a8d3873","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":220,"y":1260,"wires":[["2fd8e63fa93724d1"],[]]},{"id":"b1fda4a330d1f5bf","type":"function","z":"14849841639fe722","d":true,"name":"message","func":"msg.payload = {}\nmsg.payload.chatId = 751272400;\nmsg.payload.type = \"message\";\nmsg.payload.content = \"Hello from Gigatech\\n\" + \"Send /register to receive your chatId.\"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1200,"wires":[["c87e52183120a86c"]]},{"id":"e15845a10a201bbf","type":"telegram command","z":"14849841639fe722","d":true,"name":"Receive","command":"/foo","description":"","registercommand":false,"language":"","bot":"94a61826.a3aff","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":220,"y":1200,"wires":[["b1fda4a330d1f5bf"],[]]},{"id":"13f5b66bb904b7e2","type":"inject","z":"14849841639fe722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1660,"wires":[["cfbdf813cd26e9e2"]]},{"id":"cfbdf813cd26e9e2","type":"function","z":"14849841639fe722","name":"Store generator id and chatid","func":"//var chatId = [751272400];\n//var generatorId = \"0001\";\n//flow.set(\"chatId\",chatId);\n//flow.set(\"generatorId\",generatorId);\n//var chatId[] = flow.get(\"chatId\");\n//var generatorId = flow.get(\"generatorId\");\nvar chatId1 = [751272400];\nvar chatId2 = [528899090];\nvar generatorId = \"0001\";\nflow.set(\"chatId[0]\",chatId1);\nflow.set(\"chatId[1]\",chatId2);\nflow.set(\"generatorId\",generatorId);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1660,"wires":[["8028777036d541be"]]},{"id":"8028777036d541be","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1660,"wires":[]},{"id":"3fa4e51155bca69b","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":1400,"wires":[]},{"id":"bf5d6775942d031c","type":"function","z":"14849841639fe722","name":"start generator","func":"var message = msg.payload;\nvar Id = msg.payload.chatId;\nmsg.topic = \"generator/tx/0002/cmnd/POWER\"\n\nif (Id = '528899090', '6705094410'){\n    message = \"ON\";\n    msg.payload = 'ON';   \n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1300,"wires":[["d57245e12aeed69c"]]},{"id":"c3a2c1d567d77107","type":"function","z":"14849841639fe722","name":"stop generator","func":"var message = msg.payload;\nvar Id = msg.payload.chatId;\nmsg.topic = \"generator/tx/0002/cmnd/POWER\"\n\nif (Id = '528899090', '6705094410'){\n    msg.payload = \"OFF\";\n    msg.payload = 'OFF';   \n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1540,"wires":[["d57245e12aeed69c"]]},{"id":"c37c37bb65c2018f","type":"file","z":"14849841639fe722","name":"","filename":"mqttlogfile.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":510,"y":580,"wires":[[]]},{"id":"50630ffb3bee3471","type":"telegram command","z":"14849841639fe722","name":"get IP","command":"/myip","description":"","registercommand":false,"language":"","bot":"34226ff22a8d3873","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":220,"y":1780,"wires":[["479b531bb15b5e73","c751bb07ad01bc60"],["c751bb07ad01bc60"]]},{"id":"69d880348735737e","type":"function","z":"14849841639fe722","name":"start generator","func":"msg.topic = \"generator/tx/0002/cmnd/IPAddress\"\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":620,"wires":[["f5167269e5531e0b"]]},{"id":"5cbb05aeae80a82f","type":"inject","z":"14849841639fe722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":620,"wires":[["69d880348735737e"]]},{"id":"e93a3c1c413d62a2","type":"function","z":"14849841639fe722","name":"telegram IP","func":"if (msg.topic == \"generator/tx/0002/RESULT\") {\n    msg.topic = \"generator/tx/0002/PHONE\";\n    var IP = msg.payload;\n\n    // Check if the payload starts with \"IP:\"\n    if (IP.substring(0, 3) == \"IP:\") {\n        // Extract everything after \"IP:\"\n        var IP3 = IP.substring(3).trim(); // Trim to clean up any extra spaces\n        msg.payload = {\n            chatId: ['528899090', '6705094410'],\n            type: 'message',\n            content: IP3\n        };\n    } else {\n        // Handle invalid payloads\n        msg.payload = {\n            type: 'error',\n            content: `Invalid payload format: ${IP || \"undefined\"}`\n        };\n    }\n\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":920,"wires":[["c87e52183120a86c","ba2063bddceb5060"]]},{"id":"479b531bb15b5e73","type":"function","z":"14849841639fe722","name":"Get generator ip","func":"var Id = msg.payload.chatId;\nmsg.topic = \"generator/tx/0002/cmnd/POWER\"\nif (Id = '6705094410') {\n    msg.payload = \"IP\";\n    \n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1780,"wires":[["c751bb07ad01bc60","d57245e12aeed69c"]]},{"id":"c751bb07ad01bc60","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1840,"wires":[]},{"id":"f87d333b353f218e","type":"telegram command","z":"14849841639fe722","name":"/help","command":"/help","description":"","registercommand":false,"language":"","bot":"34226ff22a8d3873","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":230,"y":1900,"wires":[["b2eb79701b0d243d"],[]]},{"id":"b2eb79701b0d243d","type":"function","z":"14849841639fe722","name":"help awnser","func":"var Id = msg.payload.chatId;\n\nmsg.payload = {};\nmsg.payload.content = \"Here is the commands you can use.\\n /hello = test command. \\n /register = Getting your chatid for registration.\\n /genstart = Will start the generator and it can take upto one minute.\\n /genstop = Will stop the generator and can take up to 1 minute.\\n /myip = Will send you the the generator control IP details\\n /help = Will send you this help message\\n If the generator motoring input changes you should get a message \\\"Generator power On\\\" or \\\"Generator Power Off\\\"\";\nmsg.payload.chatId = Id;\nmsg.payload.type = \"message\";\nreturn msg; ","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1900,"wires":[["c87e52183120a86c"]]},{"id":"a11e5a05f16a0667","type":"debug","z":"14849841639fe722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1280,"wires":[]},{"id":"1887f3c176725508","type":"mqtt in","z":"14849841639fe722","name":"","topic":"generator/tx/0002/SWITCH","qos":"2","datatype":"auto","broker":"4ca58914.73ba","nl":false,"rap":false,"inputs":0,"x":250,"y":1020,"wires":[["83533f48acd96e9f"]]},{"id":"83533f48acd96e9f","type":"function","z":"14849841639fe722","name":"function 1","func":"if (msg.topic == \"generator/tx/0002/SWITCH\") {\n    msg.topic = \"generator/tx/0002/PHONE\";\n    if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"ON\\\"}}\") {\n        msg.payload = {\n            chatId: ['751272400', '528899090', '1433332644', '1670641005', '6705094410'],\n            type: 'message',\n            content: 'Generator Power on'\n        };\n    }\n    else if (msg.payload == \"{\\\"Switch1\\\":{\\\"Action\\\":\\\"OFF\\\"}}\") {\n        msg.payload = {\n            chatId: ['751272400', '528899090', '1433332644', '1670641005', '6705094410'],\n            type: 'message',\n            content: 'Generator Power off'\n        };\n    }\n    else if (msg.payload == \"{\\\"POWER\\\":\\\"OFF\\\"}\") {\n        msg.payload = {\n            chatId: ['751272400', '528899090', '1433332644', '6705094410'],\n            type: 'message',\n            content: 'Generator will be stopped.'\n        };\n    }\n    else if (msg.payload == \"{\\\"POWER\\\":\\\"ON\\\"}\") {\n        msg.payload = {\n            chatId: ['751272400', '528899090', '1433332644', '6705094410'],\n            type: 'message',\n            content: 'Generator will be started.'\n        };\n    }\n}\n\n//msg.payload ={ chatId: '751272400,58899090' , type: \"message\"};\n//msg.payload.chatId = 751272400, 58899090:\n//msg.payload.type = \"message\":\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1040,"wires":[["c87e52183120a86c"]]},{"id":"4ca58914.73ba","type":"mqtt-broker","name":"generator on localhost","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a2667f6a.bc502","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"generator","name":"127.0.0.1:8086/generator/tx","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"efc3b6d5.cb5eb","type":"ui_group","name":"Generator","tab":"36d5a858.72b558","order":1,"disp":true,"width":"6","collapse":false},{"id":"b80646a6.013e1","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"generator_rx","name":"127.0.0.1:8906/generator/rx","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"cea94dd0.aa4a58","type":"mqtt-broker","name":" on iot.giga.co.za","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"34226ff22a8d3873","type":"telegram bot","botname":"Generator_control_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":300,"usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":6667,"socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":8443,"publicbotport":8443,"privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"81b4baca.95923","type":"node-red-contrib-httpauthfile","name":"generator","authType":"Basic","realm":"generator","filePath":"generator_auth.txt","hashed":true},{"id":"606d16a0.2f9ad8","type":"node-red-contrib-httpauthcred","name":"Cridensials_generator","authType":"Basic","realm":"generator","username":"Generator_0001","password":"G3n3r@tor0001","hashed":true},{"id":"94a61826.a3aff","type":"telegram bot","botname":"Giga_generator","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"36d5a858.72b558","type":"ui_tab","name":"Generator","icon":"dashboard","disabled":false,"hidden":false}]